%ul
  %li
    %a{ href: '/'} Home
  %li
    %a{ href: '/register'} Register a class
  <!-- %li %a{ href: '/start'} Start a class -->
  %li
    %a{ href: '/list'} List all classes
  <!-- %li %a{ href: '/translated'} Translated class materials -->
