%form{action: '/translation', method: 'post'}
  %a French => English
  %textarea{name: 'source'}
  %input{type: 'submit', value: 'Translate'}
%div{class: 'source'}
  #{@source}
%div{class: 'target'}
  #{@target}
